<form (submit)="register($event)">
  <div class=" form-group">
    <label for="username">Nickname</label>
    <input ng-model="username" type="text" id="nick" class="form-control" placeholder="Enter nickname" autofocus="true"
      autocomplete="off" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Species</label>
    <select [(ngModel)]="selectedValue">
      <option *ngFor="let type of species" [value]="type.id">
        {{type.Name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Planet</label>
    <select [(ngModel)]="selectedValue">
      <option *ngFor="let planet of planets" [value]="planet.id">
        {{planet.Name}}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Create account</button>
</form>
